/* @tailwind base;
@tailwind components;
@tailwind utilities; */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
html{
    overflow: hidden !important;
    font-family: "Work Sans", sans-serif;
}
tbody tr:hover {
    background-color: #E8F5E9;
}
.v-card.border-s-lg {
    border-color: #81c784 !important;
}